@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap');
:root {
    --background-color: #000C1B;
    --secondary-color: #1A2532;
    --logo-color: #5F24D9;
    --green-color: #50D38D;
    --info-color: #C4C936;
}

* {
    box-sizing: border-box !important;
    font-family: 'Nunito', sans-serif;
    line-height: 24px;
    font-size: 16px;
}

body {
    background-color: var(--background-color) !important;
    color: white;
}

img { width: 100%; }

a {
    color: white;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100% im !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.py-6 {
    padding: 6rem 0rem;
}

header {
    padding: 16px 0px 16px 0px;
}

header a {
    margin-right: 20px;
}

.contact-button {
    background-color: #5F24D9;
    padding: 8px 24px;
    border-radius: 8px;
    margin: 10px 0px;
    user-select: none;
    cursor: pointer;
}

.contact-button-2 {
    padding: 8px 0px;
    color: #66DBDA;
    user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12.8px;
}

.contact-button-2::after {
    content: "";
    border: solid #66DBDA;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    margin-left: 15px;
    -webkit-transform: rotate(-45deg);

}

.logo {
    color: var(--logo-color) !important;
}

.green-color {
    color: var(--green-color) !important;
}

.bg-secondary {
    background-color: var(--secondary-color) !important;
}

.play {
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    margin-top: 5rem;
}

.small {
    border-radius: 4px;
    background: url(../images/small.svg);
    background-repeat: no-repeat;
    width: 81px;
    height: 70px;
}

.normal {
    width: 178px;
    height: 158px;
    border-radius: 8px;
}

.normal-blue {
    background: url(../images/normal_blue.svg);
    background-repeat: no-repeat;

}

.normal-yellow {
    background: url(../images/normal_yellow.svg);
    background-repeat: no-repeat;
}

.play-center iframe {
    border: 0px;
    border-radius: 8px;
    width: 100%;
    height: 350px;
}

.subtitlesuprise {
    border-radius: 4px;
    background: url(../images/subtitlesuprise.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    width: 100%;
    height: 70px;
}

.green-btn {
    width: 16px;
    height: 6px;
    background-color: var(--green-color) !important;
    border-radius: 2px;
}

.white-btn {
    width: 16px;
    height: 6px;
    background-color: white !important;
    border-radius: 2px;
}

.section-green-head {
    color: var(--green-color) !important;
    font-weight: 700;
    line-height: 20px;
    font-size: 12.8px;
}

.section-head {
    font-size: 31.25px;
    line-height: 32px;
    margin-top: 1.5rem;
}

.paragraph {
    font-weight: 400;
}

dd {
    display: list-item;
    list-style-type: "🤯";
    margin: 0;
    padding: 0;
    padding-inline-start: 1ch;
}


.ellipse-red {
    background: url(../images/ellipse-red.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}

.ellipse-green {
    background: url(../images/ellipse-green.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}
.ellipse-yellow {
    background: url(../images/ellipse-yellow.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}
.ellipse-blue {
    background: url(../images/ellipse-blue.svg);
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
}

.choose-bar {
    background: #A6A9B6;
    border-radius: 4px;
    padding: 8px;
    max-width: 150px;
    user-select: none;
}

.choose-button {
    padding: 4px 12px;
    border-radius: 4px;
    color: #5F24D9;
    line-height: 20px;
    font-size: 12.8px;
    font-weight: 700;
    cursor: pointer;
}

.active {
    background: white;
}

.price-box {
    border-radius: 1rem;
    border: 2px solid #89DBFF;
    padding: 20px;
    display: flex;
    justify-content: center;
    user-select: none;
    margin-top: 20px;
}

.price-head {
    font-weight: 800;
    font-size: 31.25px;
    line-height: 32px;
    background: #3DD1CA;
    background: -webkit-linear-gradient(to top, #3DD1CA 42%, #FFFFFF 100%);
    background: -moz-linear-gradient(to top, #3DD1CA 42%, #FFFFFF 100%);
    background: linear-gradient(to top, #3DD1CA 42%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fw-600 b {
    font-size: 48.83px;
}

.price-list dd {
    display: list-item;
    list-style-image: url(../images/success.svg);
    margin: 0 20px;
    padding: .5rem;
    padding-inline-start: 1ch;
}

.error {
    list-style-image: url(../images/error.svg) !important;
}

.try-now {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background: #89DBFF;
    border-radius: 8px;
    margin-top: 20px;
    user-select: none;
    cursor: pointer;
}

footer .blue-box {
    background: #4C6BFF;
    padding: 2rem 4rem;
    border-radius: 8px
}

.blue-box img {
    width: 200px;
}

form {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 8px 8px 8px 12px;
    background: white;
    border-radius: 8px;
}
  
input {
    flex-grow:2;
    border:none;
    margin-right: 10px;
}

input:focus {
    outline: none;
}
  
button {
    border: none;
    background:#000C1B;
    padding: 8px 24px 8px 24px;
    border-radius: 8px;
    color:white;
}

.blue-box p {
    font-size: 12.8px;
    font-weight: 400;
}

.footer-button {
    padding: 8px 24px;
    background: #5F24D9;
}

.social-icon {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    cursor: pointer;
}

.social-icon:last-child {
    margin-right: 0px;
}

.footer-logo {
    width: 80px;
    height: 20px
}

@media (max-width: 991px){
    .contact-button {
        padding: 4px 12px;
    }

    .play {
        margin-top: 2rem;
        grid-template-columns: 1fr;
    }

    .play-center iframe {
        height: 250px;
    }

    h1 {
        font-size: 1.2rem;
    }

    .section-head {
        font-size: 1.1rem;
    }

    footer .blue-box {
        padding: 0;
    }

    .social-icon {
        width: 14px;
        height: 14px;
        margin-right: 10px;
        cursor: pointer;
    }

    .footer-button {
        padding: 2px 6px;
    }
}

